body {
    font-family: 'open sans', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    background-color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* make scrollbar invisible */
}

.buttons {
    padding-bottom: 23px;
    float: left;
}

#contentBox {
    width: 1000px;
    height: 100px;
}

.body-content {
    color: red;
}

.Profilediv1 {
    float: left;
    width: 40vw;
    height: 30vh;
}

.Profilediv2 {
    float: right;
    width: 60vw;
    height: 30vh;
}

.Profilediv3 {
    clear: both;
    height: 37vh;
}

.Profilediv4 {
    border: 1px solid black;
    width: 60vw;
    height: 30vh;
}

.project1 {
    border: 1px solid black;
    width: 15vw;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 5px;
    height: 50vh;
    float: left;
}

.project2 {
    width: 14vw;
    height: 48vh;
}

.menubar {
    width: 100vw;
    margin-top: -8px;
    margin-left: -8px;
    height: 50px;
    background-color: limegreen;
}

.error {
    width: auto;
    background: transparent;
}

.naam {
    font-weight: bolder;
    width: 15vw;
    margin-right: 5vw;
    padding-top: 15px;
    color: dimgray;
    text-decoration: none;
    float: right;
}

.logo {
    font-weight: bold;
    width: 15vw;
    margin-left: 5vw;
    padding-top: 15px;
    float: left;
}

.menu {
    width: 60vw;
    margin: auto;
    padding-top: 15px;
    float: left;
}

.wrapper {
    width: 60%;
    margin: 10px auto;
    background-color: transparent;
    padding: 0px;
}

.tab {
    font-weight: bolder;
    margin-left: +5px;
    color: dimgrey;
    text-decoration: none;
}

    .tab:hover {
        color: white;
    }

    .tab:active {
        color: purple;
    }


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
    max-height: 500px;
}

.footer {
    clear: both;
}

.projectlink {
    font-size: large;
    color: black;
    font-weight: 700;
}

.beschrijving{
    width: 500px; 
    height: 250px;
}

.website {
    width: 500px; 
    height: 100px;
}