@model IEnumerable<Kikkerstarter.Models.Project>
@{
    ViewBag.Title = "Home";
}

<!--De model wordt gebruikt voor de lijst met projecten.-->

<h2>Home</h2>

@using (@Html.BeginForm())
{
    <div>
        Projecten:
    </div>
    <!--Als de ViewBag != "0" dan moet hij voor elk project in de model een paar divs aanmaken met een
        actionlink.
        Deze if staat hier zodat hij alleen naar de code kijkt als de Model niet leeg is.
        Anders ontstaan er errors.-->
    if (ViewBag.projecten != "0")
    {
        foreach (var project in Model)
        {
            <div class="project1"  style="text-align:center;">
                @Html.ActionLink(project.NaamProject, "Project", "Project", new { projectID = project.ProjectID }, new { @class = "projectlink" })<br>
                gemaakt door @project.Accountnaam
                <div class="project2" style="text-align:left;">
                    <br>
                    @project.Beschrijving
                </div>
            </div>
        }
    }
    else
    {
        <h2>Er zijn geen projecten gevonden.</h2>
    }
}