@model IEnumerable<Kikkerstarter.Models.Project>
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@using (@Html.BeginForm())
{
    <div>
        hallo
    </div>
        foreach (var project in Model)
        {
            <div class="project1">
                @project.NaamProject gemaakt door @project.Accountnaam
                <div class="project2">
                    @project.Beschrijving
                </div>
            </div>
        }
}